/* Favourite Movies & All Movies titles */
h2 {
  font-size: 35px;
  width: max-content;
  margin: 30px auto;
}

.favourites-container {
    margin-bottom: 30px;
}

/* each movie displayed in grid structure */
.movie-wrapper {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  justify-items: center;
  width: 93%;
  margin: 0 auto;
}

/* structure of each individual movie */
.each-movie {
  display: flex;
  flex-direction: column;
  margin: 15px auto;
  text-align: center;
  font-size: 16px;
}

/* each movie title */
.each-movie strong {
  margin: 5px;
  font-size: 1.35em;
}

.each-movie button {
  display: flex;
  justify-content: center;
  color: white;
  margin: 15px auto;
  height: 3.2em;
  width: 6.6em;
  font-size: 0.9em;
  border-radius: 18px;
  border: 2px solid rgb(80, 112, 76);
  background-color: rgb(88, 168, 119);
  cursor: pointer;
  outline: none;
  transition: all 0.3s ease-in-out;
}

.each-movie button:hover {
  background-color: rgb(80, 112, 76);
}

/* message shown when a genre selected but no movies in associated array */
.filter-empty-message {
  text-align: center;
  font-size: 30px;
  margin: 50px auto;
}