@media (max-width: 1000px) {
  .link {
    font-size: 25px;
  }
  h1 {
    margin: 7px;
  }
  h2 {
    font-size: 30px;
  }
  .movie-wrapper {
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  }
  .each-movie {
    font-size: 14px;
  }
  .genre-filter-wrapper {
    font-size: 18px;
  }
  .drop-down {
    margin: auto 10px;
  }
  .filter-empty-message {
    font-size: 25px;
    margin: 30px;
  }
  .random-pick-main {
    font-size: 35px;
  }
}

@media (max-width: 810px) {
  .link {
    font-size: 20px;
  }
  h1 {
    margin: 5px;
  }
  h2 {
    font-size: 25px;
  }
  .movie-wrapper {
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  }
  .each-movie {
    font-size: 12px;
  }
  .genre-filter-wrapper {
    font-size: 16px;
  }
  .filter-empty-message {
    font-size: 22px;
  }
  .random-pick-main {
    font-size: 30px;
  }
}

@media (max-width: 650px) {
  .link {
    font-size: 17px;
  }
  h2 {
    font-size: 21px;
  }
  .movie-wrapper {
    grid-template-columns: repeat(auto-fill, minmax(180px, 1fr));
  }
  .each-movie {
    font-size: 11px;
  }
  .genre-filter-wrapper {
    font-size: 14px;
  }
  .filter-empty-message {
    font-size: 20px;
    margin: 20px;
  }
  .random-pick-main {
    font-size: 25px;
  }
}

@media (max-width: 550px) {
  nav {
    padding: 10px 20px;
  }
  .home {
    margin-bottom: 18px;
  }
  .link {
    display: block;
    line-height: 100%;
    /* text-align: center; */
  }
  .random-pick-main {
    margin: 0 10px;
    font-size: 22px;
  }
  .title {
    text-align: center;
    margin: 10px 0 5px 0;
    padding: 15px;
  }
  .details {
    padding: 5px;
  }
}

@media (max-width: 390px) {
  .movie-wrapper {
    grid-template-columns: repeat(auto-fill, minmax(148px, 1fr));
  }
  .random-pick-main {
    font-size: 20px;
  }
}

/*
@media (max-width: 700px) {
  nav {
    padding: 30px 20px;
  }
  .link {
    font-size: 24px;
  }
  .movie-wrapper {
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  }
  .each-movie {
    font-size: 20px;
  }
  .genre-filter-wrapper {
    font-size: 28px;
  }
  .random-pick-main {
    font-size: 30px;
  }
  .title {
    margin: 20px auto;
  }
  .img-container {
    width: 600px;
  }
  .genres ul {
    padding: 0 0 0 1.1em;
  }
}

@media (max-width: 570px) {
  nav {
    padding: 30px 10px;
    grid-column-gap: 5px;
  }
  .link {
    font-size: 20px;
  }
  h2 {
    font-size: 28px;
    margin: 35px auto;
  }
  .movie-wrapper {
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  }
  .each-movie {
    font-size: 19px;
  }
  .genre-filter-wrapper {
    font-size: 25px;
  }
  .random-pick-main {
    font-size: 25px;
  }
  .img-container {
    width: 600px;
  }
}

@media (max-width: 485px) {
  .link {
    font-size: 20px;
  }
  h2 {
    font-size: 28px;
  }
  .genre-filter-wrapper {
    font-size: 22px;
  }
  .random-pick-main {
    font-size: 20px;
  }
  .genres ul {
    padding: 0 0 0 1.2em;
  }
  .img-container {
    width: 300px;
    margin: 10px auto;
  }
  .random-pick-main-wrapper {
      display: block;
  }
}

@media (max-width: 431px) {
  nav {
    padding: 20px 10px;
    column-gap: 3px;
  }
  .link {
    font-size: 15px;
  }
  h2 {
    font-size: 26px;
  }
  .movie-wrapper {
    grid-template-columns: repeat(auto-fill, minmax(180px, 1fr));
  }
  .each-movie {
    font-size: 17px;
  }
  .genre-filter-wrapper {
    font-size: 20px;
  }
  .genres ul {
    padding: 0 0 0 1.3em;
  }
  .img-container {
    width: 270px;
  }
} */
