.random-pick-main {
  margin: 0 20px;
  font-size: 45px;
}

.title {
  text-align: center;
  margin: 10px 0 25px 0;
  padding: 15px;
}

.title small {
  font-size: 0.5em;
}

.random-pick-main-wrapper {
  display: flex;
  justify-content: space-evenly;
  max-width: 900px;
  margin: 20px auto;
}

.img-container {
  width: 350px;
  margin-right: 8px;
}

img {
  width: 100%;
}

.details {
  max-width: 450px;
  padding: 5px 15px;
  font-size: 0.6em;
}

.director,
.actor,
.runtime,
.genres,
.plot {
  margin-bottom: 10px;
}

.genres ul {
  margin: 0;
  padding: 0 0 0 1em;
  list-style-type: circle;
}

.genres li {
  padding: 5px;
}
