.title {
  text-align: center;
  margin: 40px auto;
  width: max-content;
  font-size: 65px;
  padding: 15px;
}

.title small {
  font-size: 0.6em;
}

.random-pick-main-wrapper {
  display: flex;
  justify-content: space-evenly;
  max-width: 1750px;
  margin: 0 auto;
}

.img-container {
  width: 800px;
}

img {
  width: 100%;
  font-size: 25px;
}

.details {
  max-width: 800px;
  padding: 5px 15px;
  font-size: 50px;
}

.director,
.actor,
.runtime,
.genres,
.plot {
  margin-bottom: 10px;
}

.genres ul {
  margin: 0;
}

.genres li {
  padding: 5px;
}
