.App {
  background-color: #0f1412;
  color: white;
  height: 100vh;
  width: 100vw;
  overflow: auto;
}

nav {
  display: flex;
  flex-direction: column;
  padding: 20px 30px;
  background-image: linear-gradient(to bottom, rgb(80, 112, 76) 20%, #0f1412);
}

.home {
  margin: 0 auto;
}

.random-picks {
  display: flex;
  justify-content: space-between;
}

.link {
  display: flex;
  text-decoration: none;
  color: white;
  font-size: 30px;
  transition: all 0.3s ease-in-out;
  text-align: center;
}

h1 {
  margin: 8px;
}

.link:hover {
  color: rgb(80, 112, 76);
}

.home-link:hover {
  color: rgb(42, 53, 50);
}