.App {
  background-color: #0f1412;
  color: white;
  height: 100vh;
  overflow: auto;
}

nav {
  padding: 50px 70px;
  background-image: linear-gradient(
    to bottom,
    rgb(80, 112, 76) 20%,
    #0f1412
  );
}

.random-links {
  display: flex;
  justify-content: space-around;
  margin-right: 200px;
}

.home {
  float: left;
  margin-right: 70px;
}

.random-pick-movies {
  margin-right: 100px;
}

.link {
  text-decoration: none;
  color: white;
  font-size: 55px;
}

.link:hover {
  transition-duration: 0.2s;
  color: rgb(80, 112, 76);
}
